body{
    width : 96vw;
    height : 96vh;
    position : absolute;
}

.navbar{
    position : fixed;
    display : flex;
    height : 10%;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.scaler-logo{
    width : 10%;
    height : 60%;
    margin-left : 64px;
}

.scaler-social{
    width : 15%;
    height : 60%;
    margin-right :64px;
}

.main-container{
    margin-top : 5%;
    top : 10%;
    height : 90%;
    width : 100%;
    display : flex;
}

.left-container{
    height : 100%;
    width : 60%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    background-color : aliceblue;
}

.post-container {
    height : 30%;
    width : 40%;
    background-color: lightgoldenrodyellow;
    border-radius : 10px;
    border : 1px dotted gray;
    display : flex;
    flex-direction: column;
    justify-content: space-between;

}
.post-top{
    background-color: lightgoldenrodyellow;
    border : none;
    outline : none;
    resize : none;
    height : 90%;
}

.post-bottom{
    height : 10%;
    width : 100%;
    margin-bottom : 5px;
    display : flex;
    justify-content: space-between;
}

.post-button{
    height : 20px;
    width : 75px;
    background-color: blue;
    color : white;
    border : none;
    border-radius : 10px;
    cursor: pointer;

}

.right-container{
    width : 40%;
    display : flex;
    flex-direction: column;
    background-color: bisque;
}

.thought{
    background-color: aliceblue;
    border-radius : 5px;
    display: flex;
    /* border-radius :  */
}

.thought>img{
    height : 50px;
    width : 50px;
}

.names-buttons{
    display : flex;
}

.modal{
    position : fixed;
    z-index: 1;
    height : 50wh;
    width : 50vw;
    top : 25%;
    left : 25%;
    background-color: white;
    display : none;
}


.comment{
    margin-top : 2%;
    margin-left : 20%;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    /* border-radius :  */
}

.comment>img{
    height : 50px;
    width : 50px;
}
